.page-header {
  background: #1d2631;
}

.page-header__header-menu {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #283645;
}

.page-header__logo {
  display: block;
  margin-top: 22px;
  margin-bottom: 26px;
  width: 75px;
}

.page-header__logo img {
  width: 75px;
  height: 22px;
}

.headline__title {
  width: 100%;
  padding: 0;
  margin: auto;
  font-size: @font-size + 6px;
  color: @color-headline-title;
  text-align: @text-align;
  font-weight: lighter;
}

@media (min-width: @tablet-width) {
  .page-header__header-menu {
    margin: auto;
  }

  .page-header__logo {
    min-height: 25px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-size: cover;
    min-height: 750px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
      height: 853px;
    }
  }

  .page-header__header-menu {
    display: flex;
    flex-wrap: wrap;
    background: none;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .headline__title {
    font-size: 50px;
    margin: auto;
    padding-top: 75px;
    padding-bottom: 110px;

    background: none;
  }
}
