@font-weight-add: light;
@bg-add: #1d2631;
@color-add: #ffffff;

.icons {
  background-color: @bg-add;
}

.icons__link {
  color: @color-add;
  font-size: @font-size - 4px;
  text-decoration: none;
}

.icons-list__item {
  list-style: none;
}

.advantages__item {
  list-style: none;
}

.icons__legend--bottom {
  text-align: @text-align;
  color: @color-add;
  font-size: @font-size - 4px;
  line-height: @line-height - 6px;
}
