.advantages__header {
  background-color: @bg-advantages;
}

.advantages__list {
  background-color: @bg-list;
}

.advantages__text {
  font-weight: @font-weight-advantages;
  font-size: @font-size + 6px;
  color: @color-text;
  text-align: @text-align;
}

.advantages__item {
  text-align: @text-align;
}

.advantages__title {
  font-size: @font-size;
  line-height: @line-height;
  color: @color-title;
}

.advantages__description {
  color: @color-text;
}
