.advantages__header {
  background-color: @bg-advantages;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__text {
  font-weight: @font-weight-advantages;
  font-size: @font-size + 6px;
  color: @color-text;
  text-align: @text-align;
}

.advantages__wrapper {
  background-color: @bg-list;
}

.advantages__item {

  text-align: @text-align;
}

.advantages__title {
  font-size: @font-size;
  line-height: @line-height;
  color: @color-title;
}

.advantages__description {
  color: @color-text;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    width: 320px;
    text-align: left;
  }
}
