
.icons {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @bg-add;
  margin: 0;
  padding: 0;
}

.icons__text {
  color: @color-add;
  line-height: @line-height - 6px;
}

.icons__link {
  color: @color-add;
  font-size: @font-size - 4px;
  text-decoration: none;
}

.icons-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  list-style: none;
}

.icons__legend--bottom {
  text-align: @text-align;
  color: @color-add;
  font-size: @font-size - 4px;
  line-height: @line-height - 6px;
}
