.page-header {
  display: flex;
  flex-direction: column;
  background-color: @bg-header;
}

.page-header__logo {
  height: 70px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    align-items: center;
    height: 110px;
  }
}
