.page-header {
  margin: auto;
  background-color: @bg-header;
}

.page-header__header-menu {
  display: flex;
  margin: auto;
  width: 280px;
}

.page-header__logo {
  display: block;
  height: 70px;
}

.page-header__logo img {
  width: 75px;
  height: 22px;
}

@media (min-width: @tablet-width) {
  .page-header__header-menu {
    width: 620px;
    margin: auto;
  }

  .page-header__logo {
    min-height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    height: 110px;
  }

  .page-header__header-menu {
    width: 940px;
    margin: auto;
  }
}
