.site-list {
  margin: 0 auto;
  font-size: @font-size;
  text-transform: @text-transform;
  font-weight: @font-weight-nav;
  color: @color-nav;
  line-height: @line-height + 2px;

  a {
    color: @color-nav;
    text-decoration: none;
  }
}

/*
a {
  color:#FF0000;
  text-decoration:none
  }

  a:active {
  color:#FF0000;
  text-decoration:none
  }

  a:visited {
  color:#666666;
  text-decoration:none
  }

  a:hover {
  color:#339900;
  text-decoration: underline
  }
  */
