.page-footer__logo.logo {
  margin: auto;
  text-align: center;
}

.social__list {
  justify-content: space-between;
  width: 180px;
  margin: auto;
  display: flex;
  padding: 0;
}

.page-footer__social.social {
  margin: auto;
}

.page-footer__social-footer {
  text-align: center;
  margin: auto;
}

.copyright {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 140px;
  margin: auto;
}
