@import "page-header.less";
@import "add.less";
@import "advantages.less";
@import "variable.less";
@import "headline.less";
@import "page-footer.less";
@import "reviews.less";
@import "subtitle.less";
@import "social.less";
@import "copyright.less";
@import "scaffolding.less";
@import "outlines.less";
@import "main-nav.less";
@import "site-list.less";
@import "icons.less";

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
