@import "page-header.less";
@import "add.less";
@import "advantages.less";
@import "page-main.less";
@import "variable.less";
@import "headline.less";
@import "page-footer.less";
@import "page-main-photo.less";
@import "reviews.less";
@import "subtitle.less";
@import "logo.less";
@import "social.less";
@import "copyright.less";

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("/source/fonts/opensans.woff");
  src: url("/source/fonts/opensans.woff2");
  src: url("/source/fonts/opensansbold.woff");
  src: url("/source/fonts/opensansbold.woff2");
  src: url("/source/fonts/opensanslight.woff");
  src: url("/source/fonts/opensanslight.woff2");
  font-weight: normal;
  font-style: normal;
}

cite {
  font-style: normal;
  font-weight: bold;
}
